name: test

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches: main

jobs:      
  build_examples_article:
    name: Test | Example (Article)
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repository
        uses: actions/checkout@v6
      - name: Compile tex
        uses: xu-cheng/latex-action@master
        with:
          root_file: main.tex
          working_directory: .
      - name: Deploy PDF
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf


